{
  "openapi": "3.1.0",
  "info": {
    "title": "Core Voice API",
    "summary": "Core Voice API",
    "description": "Core Voice API for Tech Interviewer",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.techinterviewer.ai",
      "description": "Production server"
    },
    {
      "url": "http://localhost:8080",
      "description": "Local development server"
    }
  ],
  "paths": {
    "/interview-configs": {
      "get": {
        "summary": "Read Interview Configs",
        "operationId": "read_interview_configs_interview_configs_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBasic": [ ]
          }
        ]
      }
    },
    "/interview-configs/{id}": {
      "get": {
        "summary": "Read Interview Config",
        "operationId": "read_interview_config_interview_configs__id__get",
        "security": [
          {
            "HTTPBasic": [ ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/create_session": {
      "post": {
        "summary": "Create Session",
        "description": "Create a new interview session.\n\nParameters:\n- interview_config_id: str (required)\n- first_name: str (required)\n- last_name: str (required)\n- email: str (optional)\n- phone_number: str (optional, must be in format +1XXXXXXXXXX)\n\nReturns:\n- {\n  'id': unique_session_id\n}",
        "operationId": "create_session_create_session_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSessionsRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSessionsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBasic": [ ]
          }
        ]
      }
    },
    "/sessions": {
      "post": {
        "summary": "Read Sessions",
        "operationId": "read_sessions_sessions_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReadSessionsRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBasic": [ ]
          }
        ]
      }
    },
    "/sessions/{id}": {
      "get": {
        "summary": "Read Session",
        "operationId": "read_session_sessions__id__get",
        "security": [
          {
            "HTTPBasic": [ ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CreateSessionsRequestBody": {
        "properties": {
          "interview_config_id": {
            "type": "string",
            "title": "Interview Config Id"
          },
          "first_name": {
            "type": "string",
            "title": "First Name"
          },
          "last_name": {
            "type": "string",
            "title": "Last Name"
          },
          "email": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Email"
          },
          "phone_number": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Phone Number"
          }
        },
        "type": "object",
        "required": [
          "interview_config_id",
          "first_name",
          "last_name"
        ],
        "title": "CreateSessionsRequestBody"
      },
      "CreateSessionsResponse": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id"
          }
        },
        "type": "object",
        "required": [
          "id"
        ],
        "title": "CreateSessionsResponse"
      },
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "ReadSessionsRequestBody": {
        "properties": {
          "interview_config_id": {
            "type": "string",
            "title": "Interview Config Id"
          }
        },
        "type": "object",
        "required": [
          "interview_config_id"
        ],
        "title": "ReadSessionsRequestBody"
      },
      "ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          }
        },
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "title": "ValidationError"
      }
    },
    "securitySchemes": {
      "HTTPBasic": {
        "type": "http",
        "scheme": "basic"
      }
    }
  }
}
